main {
	width: 1200px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

@media screen and (max-width: 1240px) {
	main {
		width: calc(100vw - 40px);
	}
}
h1 {
	margin-bottom: 0px;
}


.content {
	display: flex;
	border-top: 3px solid #808080;
	margin-top: 20px;
	page-break-inside: avoid;
}

.content_gallery {
	margin-top: 20px;
	page-break-inside: avoid;
}

.content_gallery h3 {
	text-align: center;
}

.content_gallery_flex {
	display: flex;
}

.content_single {
	width: 40%;
	margin: 20px auto;
}

.content_left {
	flex: 40%;
	margin: 20px;
}

.content_img {
	width: 100%;
}

.content_right {
	flex: 50%;
	margin-left: 20px;
	padding-right: 3%;
}

/* Transformation */
@media screen and (max-width: 1000px) {
	.content, .content_gallery_flex {
		flex-direction: column;
	}

	.content_img {
		width: 80%;
		display: block;
 	 	margin-left: auto;
		margin-right: auto;
	}
	.content_single {
		width: 95%;
	}
}

@media screen and (max-width: 720px) {
	.content_right {
		margin-left: 0px;
	}

	.content_left {
		margin: 0px;
		margin-top: 20px;
	}
}

@media print {
	main {
		width: 100%;
		padding: 0;
		margin-bottom: 0;
	}
	.content {
		border-top: none;
	}
}