@font-face {
	font-family: Anton;
	src: url(../images/anton.ttf);
	font-weight: normal;
}

@font-face {
	font-family: FiraSans;
	src: url(../images/fira_sans.ttf);
	font-weight: normal;
}

/*
:root {
	--navbar: #3B3A3D;
	--navbar_hover: #312F33;
	--background: #2A292C;
	--elements: #3B3A3D;
	--elements_hover: #312F33;
	--elements_dark: #808080;
}
*/
html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: FiraSans;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #2a292c;
	color: white;
	font-size: 20px;
	min-width: 300px;
	hyphens: auto;
}

/* Main */
main {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1040px) {
	main {
		width: calc(100vw - 20px);
		padding: 20px 10px;
	}
}

h1 {
	color: #e2001a;
	font-size: 40px;
	font-family: Anton;
	text-align: center;
	letter-spacing: 2px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

h4 {
	background-color: #E2001A;
	padding: 10px;
	margin: 0;
	font-size: 20px;
	width: calc(100% - 20px);
	text-align: center;
}

u {
	color: yellow;
	text-decoration-line: none;
}


a:link, a:visited {
	color: #e2001a;
}
a:hover, a:active {
	color: #AF0014;
}
a:focus {
	color: #AF0014;
	outline: none;
}
/*
::selection {
	background-color: #e2001a;
}

h1::selection, h4::selection, a::selection {
	background-color: #808080;
}
*/

::placeholder {
	color: #808080;
}


.underlined {
	text-decoration-line: underline;
}

.strike {
	text-decoration-line: line-through;
}


.disable_link:link, .disable_link:visited, .disable_link:hover, .disable_link:active {
	color: inherit;
	text-decoration-line: none;
}



input:focus:hover, input:focus {
	outline: none;
	border-radius: 0;
}


/* Footer */
footer {
	background-color: #3B3A3D;
	margin-top: auto;
	height: 140px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	font-size: 12px;
	text-align: center;
}

.footer_text {
	display: flex;
	align-items: stretch;
}

.footer_links {
	font-size: 20px;
	flex-grow: 1;
	text-align: left;
	display: flex;
}

.footer_links a:not(:last-child) {
	margin-right: 40px;
}

.footer_copyright {
	text-align: right;
	flex-grow: 1;
}


/**Transformation**/
@media screen and (max-width: 1300px) {
	footer {
		height: 150px;
		padding: 10px;
	}
	.footer_text {
		flex-direction: column;
	}
	.footer_links {
		justify-content: center;
		margin-bottom: 10px;
	}

	.footer_copyright {
		text-align: center;
	}
}


@media screen and (max-width: 750px) {
	footer {
		height: 240px;
	}
	.footer_links {
		flex-direction: column;
		text-align: center;
	}
	.footer_links a:not(:last-child) {
		margin-right: 0px;
	}
}


.print_footer {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100vw;
}

.print_footer span {
	float: right;
}


@media print {
	body {
		background-color: white;
		color: black;
		font-size: 12px;
		size: landscape;
	}
	h4 {
		background-color: white;
		color: black;
	}
	h1 {
		font-size: 20px;
	}
	h2, h3, h4 {
		font-size: 15px;
	}
	u {
		color: black;
		font-style: italic;
	}
	footer {
		display: none;
	}
	.print_footer {
		display: block
	}
}


img {
	pointer-events: none;
}