.button {
	text-align: center;
	color: white;
 	background-color: transparent;
	font-size: 15px;
	padding: 10px;
	border: 2px solid #e2001a;
	width: calc(100% - 24px);
}

.button:hover, .button:focus {
	border: 2px solid #950011;
	/*transition: 0.5s;*/
}


/* Menu 3 (next to site search) */
.button_menu {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}


.button_menu .site_search, .button_menu .button {
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
}


/* Transformation */
@media screen and (max-width: 720px) {
	.button_menu {
		flex-direction: column;
	}
	.button_menu .button {
		margin: 0px;
		margin-bottom: 20px;
	}
	.button_menu .site_search {
		margin: 0px;
	}
}

@media print {
	.button_menu, .button {
		display: none;
	}
}