main {
	padding-top: 50px;
	padding-bottom: 100px;
	width: 640px;
}

@media screen and (max-width: 680px) {
	main {
		width: calc(100vw - 40px);
		padding: 20px;
	}
}

/* Form */
form {
	margin-top: 80px;

}

.form_needed {
	color: red;
}

fieldset {
	margin: 0;
	border: none;
	background-color: #312F33;
	border-radius: 8px;
	margin-bottom: 12px;
	padding: 24px;
}

legend {
	float: left;
	width: 100%;
	padding: 0;
}

small {
	font-size: 12px;
}

/* Text Input */
input, textarea {
	border: none;
	border-radius: 0;
	width: 100%;
	color: white;
	background-color: transparent;
	font-size: 15px;
	padding: 10px 0;
	border-bottom: 2px solid #808080;
	margin-top: 10px;
}

textarea {
	resize: none;
	height: 27px;
	margin-top: 20px;
	padding: 0;
	font-family: Arial;
}

input:focus, textarea:focus {
	border-bottom: 2px solid #e2001a;
	outline: none;
}


/* Checkbox / Radio */
input[type=checkbox], input[type=radio] {
	appearance: none;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #e2001a;
	background-color: transparent;
	display: inline-block;
	vertical-align: sub;
}

input[type=checkbox]:checked, input[type=radio]:checked {
	box-shadow: inset 0px 0px 0px 2.5px #312F33;
	background-color: #e2001a;
}

input[type=checkbox], input[type=checkbox]:focus, input[type=checkbox]:hover:focus, input[type=checkbox]:checked {
	border-radius: 5px;
}

input[type=radio], input[type=radio]:focus, input[type=radio]:hover:focus, input[type=radio]:checked {
	border-radius: 50%;
}


/* Button */
button {
	outline: none;
	background-color: #e2001a;
	color: white;
	font-size: 15px;
	padding: 10px 25px;
	border: 0;
	border-radius: 8px;
	margin-top: 10px;
}

button:hover , button:active, button:focus {
	background-color: #950011;
}
