header {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #3B3A3D;
}

.header_center {
	display: flex;
	justify-content: center;
}

.header_icon {
	width: 80px;
	height: 80px;
	margin-top: 20px;
	margin-right: 20px; 
}



#background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 90vh;
	min-height: 600px;
	display: flex;
	justify-content: center;
}

.welcome_screen {
	text-align: center;
	margin-top: 30vh;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 10px;
	width: 40vw;
	min-width: 250px;
}



/* Search */
.search_box {
	color: white;
	background-color: transparent;
	font-size: 18px;
	padding: 11px;
	border: 4px solid #e2001a;
	width: calc(100% - 30px);
}

.search_box:focus {
	border: 4px solid #950011;
}

.search_outputs {
	padding: 11px;
	overflow: auto;
	max-height: 30vh;
}

.search_output:first-child {
	border-top: 2px solid #808080;
}

.search_output {
	border-bottom: 2px solid #808080;
}

.search_output a {
	display: inline-block;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.search_output a:hover, .search_output a:focus {
	background-color: rgba(49, 47, 51, 0.5);
}


.search_output h2 {
	margin-bottom: 5px;
}

.search_output p {
	font-size: 18px;
	margin-top: 0px;
}



/* Erkunden */
.explore_center {
	display: flex;
	justify-content: center;
}

.explore {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	border-radius: 10px;
	width: 200px;
	bottom: 30px;
}

.explore:hover, .explore:focus {
	background-color: rgba(128, 128, 128, 0.7);
}



/* Transformation when width*/
@media screen and (max-width: 1750px) {
	.welcome_screen {
		width: 60vw;
	}
}

@media screen and (max-width: 1150px) {
	.welcome_screen {
		width: 80vw;
	}
}

@media screen and (max-width: 400px) {
	.header_icon {
		display: none;
	}
}

/* Transformation when height*/
@media screen and (max-height: 850px) {
	.welcome_screen {
		margin-top: 10vh;
	}
}

@media screen and (max-height: 570px) {
	.explore {
		display: none;
	}
}



/* Scrollbar */
.search_outputs::-webkit-scrollbar {
	width: 6px;
}
.search_outputs::-webkit-scrollbar-track {
	background-color: #2A292C;
	border-radius: 2px;
}
.search_outputs::-webkit-scrollbar-thumb {
	background-color: #808080;
	border-radius: 2px;
}