main {
	width: 1200px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1240px) {
	main {
		width: calc(100vw - 40px);
	}
}
header {
	margin-bottom: 50px;
}
h1 {
	margin-bottom: 0px;
}



/* Content */
.content {
	display: flex;
}

.hide_mobile {
	display: block;
}

/* Pictures */
.left_space {
	flex: 40%;
	margin: 20px;
}

main img {
	width: 100%;
	margin-bottom: 20px;
}

.site_search {
	width: calc(100% - 24px);;
	color: white;
 	background-color: transparent;
	font-size: 15px;
	padding: 10px;
	border: 2px solid #e2001a;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.site_search:focus {
	border: 2px solid #950011;
}


/* Data Table */
.right_space {
	flex: 40%;
	margin: 20px;
	margin-top: 0;
}

.group {
	page-break-inside: avoid;
}

.group table {
	margin-bottom: 50px;
}



/* Transformation*/
@media screen and (max-width: 1200px) {
	.hide_mobile {
		display: none;
	}
	.content {
		flex-direction: column;
	}
	header {
		background: rgba(0, 0, 0, 0.7) center/cover no-repeat;
		background-blend-mode: overlay;
		width: 60%;
		display: block;
 		margin-left: auto;
		margin-right: auto;
		height: 300px;
		position: relative;
	}
	h4 {
		position: absolute;
		bottom: 0;
	}
	main img {
		width: 80%;
		display: block;
 	 	margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 720px) {
	header {
		width: 90%;
	}

	.right_space, .left_space {
		margin: 0px;
	}
}

@media print {
	main {
		width: 100%;
		padding: 0;
	}
	.site_search {
		display: none;
	}
	.left_space {
		margin: 10px;
		margin-top: 50px;
		flex: 40%;
	}
	.right_space {
		margin: 10px;
		flex: 50%;
	}
	.group table, header {
		margin-bottom: 20px;
	}
}