main {
	max-width: 1200px;
}
header {
	margin-bottom: 50px;
}
h1 {
	margin-bottom: 0px;
}



/* Content */
.content {
	display: flex;
}

.hide_mobile {
	display: block;
}

/* Pictures */
.left_space {
	flex: 40%;
	margin: 20px;
}

img {
	width: 100%;
	margin-bottom: 20px;
}

.site_search {
	width: 96%;
	color: white;
 	background-color: transparent;
	font-size: 15px;
	padding: 10px;
	border: 2px solid #e2001a;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}


/* Data Table */
.right_space {
	flex: 50%;
	margin-left: 20px;
}

.group {
	page-break-inside: avoid;
}

.data_table {
	padding-right: 3%;
}

table {
	margin-bottom: 50px;
}



/* Transformation*/
@media screen and (max-width: 1200px) {
	.hide_mobile {
		display: none;
	}

	.content {
		flex-direction: column;
	}

	main {
		max-width: 800px;
	}

	header {
		background: rgba(0, 0, 0, 0.7) center/cover no-repeat;
		background-blend-mode: overlay;
		width: 60%;
		display: block;
 		margin-left: auto;
		margin-right: auto;
		height: 200px;
	}

	img {
		width: 80%;
		display: block;
 	 	margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 720px) {
	header {
		width: 90%;
	}

	.right_space {
		margin-left: 0px;
	}

	.left_space {
		margin: 0px;
	}

	.site_search {
		width: 90%;
	}
}

@media print {
	.site_search {
		display: none;
	}
}