main {
	max-width: 1200px;
}
h1 {
	margin-bottom: 0px;
}


.content {
	display: flex;
	flex-wrap: wrap;
	border-top: 3px solid #808080;
	margin-top: 20px;
	page-break-after: always;
	page-break-inside: avoid;
}

.content_left {
	flex: 30%;
	padding: 20px;
}

.content_img {
	width: 100%;
}

.content_right {
	flex: 60%;
	margin-left: 20px;
	margin-right: 20px;
}


/* Transformation */
@media screen and (max-width: 1000px) {
	.content {
		flex-direction: column;
	}

	main {
		max-width: 800px;
	}

	.content_img {
		width: 80%;
		display: block;
 	 	margin-left: auto;
		margin-right: auto;
	}
	.content_right {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media print {
	.content {
		border-top: none;
	}
}