.button_menu {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.site_search, .button {
	color: white;
 	background-color: transparent;
	font-size: 15px;
	padding: 10px;
	border: 2px solid #e2001a;
	width: 90%;
	margin-left: 10px;
	margin-right: 10px;
}

.site_search {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: initial;
	margin-right: initial;
}

.button {
	text-align: center;
	margin-left: 0px;
}

.button:hover {
	border: 2px solid #b0081c;
	transition: 0.5s;
}

/* Transformation */
@media screen and (max-width: 720px) {
	.button_menu {
		flex-direction: column;
	}
	.button {
		margin-bottom: 20px;
	}
	.site_search, .button {
		width: 93%;
	}
}