main {
	padding: 20px;
}

.selbox {
	display: flex;
	padding-right: 4%;
	margin-bottom: 20px;
}

.selbox:hover {
	background-color: #312f33;
}

.selbox_left {
	min-width: 350px;
	margin-top: 20px;
	margin-right: 40px;
}


.selbox_right {
	width: 100%;
}

.selbox_img {
	width: 100%;
}


/* Transformation */
@media screen and (max-width: 950px) {
	.selbox_left {
		margin-right: 20px;
	}
}

@media screen and (max-width: 700px) {
	.selbox {
		flex-direction: column;
	}
	.selbox_left {
		min-width: 0;
		margin-right: 0;
	}
	.selbox_img {
		width: 80%;
		max-height: 200px;
		object-fit: cover;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
}