main {
	width: 1200px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1240px) {
	main {
		width: calc(100vw - 40px);
	}
}
h1 {
	margin-bottom: 0px;
}


.content {
	display: flex;
	border-top: 3px solid #808080;
	margin-top: 20px;
	page-break-after: always;
	page-break-inside: avoid;
}

.content_left {
	flex: 40%;
	margin: 20px;
}

.content_img {
	width: 100%;
}

.content_right {
	flex: 50%;
	margin-left: 20px;
	padding-right: 3%;
}


/* Transformation */
@media screen and (max-width: 1000px) {
	.content {
		flex-direction: column;
	}

	.content_img {
		width: 80%;
		display: block;
 	 	margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 720px) {
	.content_right {
		margin-left: 0px;
	}

	.content_left {
		margin: 0px;
		margin-top: 20px;
	}
}

@media print {
	.content {
		border-top: none;
	}
}