nav {
	padding-right: 15%;
	padding-left: 15%;
	height: 48px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	background-color: #3B3A3D;
}



/* List */
.nav_list {
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

/* Links */
.nav_link, .nav_home, .nav_search {
	float: left;
	display: block;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
	color: white;
	text-align: center;
}

.nav_home {
	padding: 6.5px 16px;
	display: flex;
}

.nav_home p {
	font-weight: bold;
	font-size: 17px;
	padding-left: 10px;
	margin: 0;
	margin-top: 9px;
}

.nav_search {
	float: right;
	padding: 0 16px;
	padding-top: 8px;
}

nav img {
	height: 35px;
	width: 35px;
}

.nav_hover:hover, .nav_hover:focus {
	background-color: #312F33;
	outline: none;
	color: white;
}

/* Menu Button */
.nav_menu {
	cursor: pointer;
	display: none;
	float: right;
	padding: 0 16px;
	padding-top: 8px;
	height: 40px;
	width: 40px;
	background: transparent url('https://rollmaterial-rhb.netlify.app/elements/nav/menu.svg') center/contain no-repeat;
}

#menu {
	display: none;
}

/* Change padding 1600*/
@media (max-width: 1700px) {
	nav {
		padding-right: 5%;
		padding-left: 5%;
	}
}

@media (max-width: 1350px) {
	nav {
		padding-right: 10px;
		padding-left: 10px;
	}
}


/* Enable Menu 1100*/
@media (max-width: 1175px) {
	.nav_menu {
		display: block;
	}

	.nav_list {
		position: fixed;
		width: 300px;
		height: 100vh;
		background: #312F33;
		top: 48px;
		right: -100%;
		text-align: center;
		transition: all 0.5s;
		padding-top: 150px;
		flex-direction: column;
		justify-content: flex-start;
		float: right;
	}

	.nav_list li {
		padding: 0 50px;
		margin-left: 300px; 
		transition: margin-left 0.5s ease 0.2s;
	}

	.nav_link {
		width: 90%;
		margin: 5px 0;
		border-radius: 20px;
	}

	.nav_link:hover, .nav_link:focus {
		background: #3B3A3D;
	}


	#menu:checked ~ .nav_list {
		right: 0;
	}

	#menu:checked ~ .nav_list li {
		margin: 0;
	}

	#menu:checked ~ .nav_menu {
		background: transparent url('https://rollmaterial-rhb.netlify.app/elements/nav/close.svg') center/contain no-repeat;
	}
}


@media (max-width: 400px) {
	.nav_list {
		width: 100%;
	}
	.nav_link {
		padding: 14px 8px;
	}
	.nav_home {
		padding: 6.5px 8px;
	}
	.nav_search {
		padding: 8px;
		padding-bottom: 0;
	}
	nav {
		padding-left: 0;
	}
}

@media print {
	nav {
		display: none;
	}
}
