/* Raster Ladegewicht */
.ladegewicht_table {
	width: auto;
	margin: 0px;
}

.ladegewicht_table tr:hover {
	background-color: transparent;
}

.ladegewicht_table td {
	padding: 5px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

.ladegewicht_top {
	border-bottom: 1px solid #808080;
}

.ladegewicht_bottom {
	border-top: 1px solid #808080;
	border-bottom: 0 none;
}

@media screen and (max-width: 700px) {
	.ladegewicht_table {
		float: right;
	}
}