@import url('https://fonts.googleapis.com/css2?family=Anton');

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #2a292c;
	color: white;
	font-size: 20px;
	min-width: 300px;
}

/* Main */
main {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1040px) {
	main {
		width: calc(100vw - 20px);
		padding: 20px 10px;
	}
}

h1 {
	color: #e2001a;
	font-size: 40px;
	font-family: 'Anton';
	text-align: center;
	letter-spacing: 2px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

u {
	color: yellow;
	text-decoration-line: none;
}


a:link, a:visited {
	color: #e2001a;
}
a:hover, a:active {
	color: #b80015;
}
a:focus {
	color: #b0081c;
	outline: none;
}

::selection {
	background-color: #e2001a;
}

h1::selection, a::selection {
	background-color: #808080;
}

::placeholder {
	color: #808080;
}


.underlined {
	text-decoration-line: underline;
}

.strike {
	text-decoration-line: line-through;
}


.disable_link:link, .disable_link:visited, .disable_link:hover, .disable_link:active {
	color: inherit;
	text-decoration-line: none;
}



input:focus:hover, input:focus {
	outline: none;
	border-radius:0;
}


/* Footer */
footer {
	background-color: #3B3A3D;
	margin-top: auto;
	height: 200px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	font-size: 12px;
	text-align: center;
}

.footer_text {
	display: flex;
	align-items: stretch;
}

.footer_links {
	font-size: 20px;
	flex-grow: 1;
	text-align: left;
	display: flex;
}

.footer_links a:not(:last-child) {
	margin-right: 40px;
}

.footer_copyright {
	text-align: right;
	flex-grow: 1;
}


/**Transformation**/
@media screen and (max-width: 750px) {
	.footer_links {
		flex-direction: column;
		text-align: center;
	}
	.footer_links a:not(:last-child) {
		margin-right: 0px;
	}
}

@media screen and (max-width: 1050px) {
	footer {
		height: 250px;
		padding: 10px;
	}	
}

@media screen and (max-width: 1200px) {
	.footer_text {
		flex-direction: column;
	}
	.footer_links {
		justify-content: center;
		margin-bottom: 10px;
	}

	.footer_copyright {
		text-align: center;
	}
}


@media print {
	footer {
		display: none;
	}
	body {
		color: black;
		font-size: 20px;
		size: landscape;
	}
}


img {
	pointer-events: none;
}