table {
	border-collapse: collapse;
	margin-left: 10px;
	width: 100%;
	margin-bottom: 50px;
}

td {
	padding: 10px;
	border-bottom: 1px solid #808080;
	user-select: all;
	width: 100%;

}

.table_6 {
	width: 55%;
}

.table_2 {
	width: 20%;
}

tr:hover {
	background-color: #312f33;
}


/* Transformation */
@media screen and (max-width: 720px) {
	table {
		margin-left: 0px;
	}
	td {
		padding: 3px;
	}
}

@media print {
  td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px;
  }
}