/* Table */
table {
	border-collapse: collapse;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
}

tr:hover {
	background-color: #312f33;
}

td {
	padding: 10px;
	border-bottom: 1px solid #808080;
	/*user-select: all;*/
}

.table_6 {
	width: 45%;
}

.table_2 {
	width: 20%;
}

.table_3 {
	width: 22%;
}

h3 {
	background-color: #3B3A3D;
	padding: 10px;
	margin-bottom: 5px;
	border-top: 1px solid #808080;
	font-size: 20px;
	width: calc(100% - 20px);
}


.hide_search {
	display: none;
}

#not_found {
	margin-top: 50px;
	text-align: center;
}



/* Transformation */
@media screen and (max-width: 800px) {
	table {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	td {
		padding: 5px;
	}
}

@media screen and (max-width: 700px) {
	.table_r {
		text-align: right;
	}
}

@media (max-width: 800px) {
	.table_top, .table_top thead, .table_top tbody, .table_top th, .table_top td, .table_top tr {
		display: block;
	}
	.table_top tr {
		margin-bottom: 20px;
	}
	.table_top td {
		width: 100%;
	}
	.table_top td:first-child {
		border-bottom: none;
	}
	.table_top td:not(:first-child) {
		padding-left: 20px;
	}
}


/* Spoiler*/
.spoiler {
	cursor: pointer;
	margin-bottom: 0px;
}

.spoiler:hover {
	background-color: #808080;
}

.spoiler_content {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.spoiler_content section {
	margin-left: 10px;
	border-bottom: 1px solid #808080;
	padding-left: 10px;
}


@media screen and (min-width: 500px) {
	.spoiler:after {
		content: "\002B";
		color: white;
		font-weight: bold;
		float: right;
		margin-left: 5px;
		margin-right: 15px;
	}

	.spoiler.active:after {
		content: "\2212";
	}
}


/* Raster Ladegewicht */
.ladegewicht_table {
	width: auto;
	margin: 0px;
}

.ladegewicht_table tr:hover {
	background-color: transparent;
}

.ladegewicht_table td {
	padding: 5px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

.ladegewicht_top {
	border-bottom: 1px solid #808080;
}

.ladegewicht_bottom {
	border-top: 1px solid #808080;
	border-bottom: 0 none;
}

@media screen and (max-width: 700px) {
	.ladegewicht_table {
		float: right;
	}
}

/* Print */
@media print {
	.spoiler {
		display: none;
	}
	.spoiler.active {
		display: block;
	}
	.spoiler:after {
		display: none;
	}
	.spoiler_box {
		page-break-inside: avoid;
	}
	td {
		padding: 3px;
		border: none;
		vertical-align: baseline;
	}
	tr:hover, h3 {
		background-color: white;
		color: black;
	}
	tr {
		border: none;
	}
	h3 {
		font-size: 15px;
		border-top: none;
		margin-bottom: 0;
		padding-bottom: 5px;
	}
}


